<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <h2>Login</h2>
    <form action="/auth/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required autocomplete="username">
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required autocomplete="current-password">
        
        <button type="submit">Login</button>
    </form>
    <a href="/auth/register">Don't have an account? Please SignUp</a>

    <div class="sidebar">
        <div class="gadget">
            <br>
            <h2 class="star"><span>Sidebar</span> Menu</h2>
            <div class="clr"></div>
            <ul class="sb_menu">
                <li><a th:href="@{/user/home}">User Home</a></li>
                <li><a th:href="@{/user/upload}">File Upload</a></li>
                <li><a th:href="@{/user/view}">File View</a></li>
                <li><a th:href="@{/user/request}">File Request</a></li>
                <li><a th:href="@{/auth/register}">Registration</a></li>
            </ul>
            
            </ul>
        </div>
    </div>
</body>
</html>
