<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Approval Request Confirmation</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <h2>Approval Request Sent</h2>
    <p th:text="${message}"></p>
    <a href="/user/home">Return to Home</a>

    <div class="sidebar">
        <div class="gadget">
            <br>
            <h2 class="star"><span>Sidebar</span> Menu</h2>
            <div class="clr"></div>
            <ul class="sb_menu">
                <li><a th:href="@{/user/home}">User Home</a></li>
                <li><a th:href="@{/user/upload}">File Upload</a></li>
                <li><a th:href="@{/user/view}">File View</a></li>
                <li><a th:href="@{/user/request}">File Request</a></li>
                <li><a th:href="@{/auth/register}">Registration</a></li>
            </ul>
            
        </div>
    </div>
</body>
</html>
